@page "/Blog/Coding/CodingHome"
<title>Coding Articles</title>

<br />

<div class="pageFrame">
    <br />
    <h2 class="articleHomeHeaderTitle">Coding Articles</h2>
    <nav>
        <hr class="articleHr"/>
        <a href="/Blog/Coding/PythonBasics">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Python Basics</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>June 5, 2019</em></p>
            </div>
        </a>
        <hr class="articleHr"/>
    </nav>
    <br />
</div>

<br />
<br />