@page "/Blog/Linux/LinuxHome"
<title>Linux Articles</title>

<br />
<br />
<div class="col-md-7 pageFrame">
    <br />
    <h2 style="padding-left: 25px;color: #CCC">Linux Articles</h2>
    <nav>
        <hr class="articleHr"/>
        <a href="/Blog/Linux/LinuxGamingProton" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Linux Gaming: Proton</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>June 13, 2019</em></p>
                <p>Proton is software released by Valve Corporation that let's you play Windows games on Linux through Steam Play. A large chunk of PC . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Linux/PackageManagers" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="articleHomeTitle">A Brief Overview: Packages, Package Managers, Repositories, and PPAs</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>June 26, 2019</em></p>
                <p>A package is a way to neatly distribute software. Packages . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Linux/APTAndYUM" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="articleHomeTitle">APT & YUM</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>July 31, 2019</em></p>
                <p>APT stands for Advanced Package Tool. It’s a high-level package manager for Linux distributions like Debian and Ubuntu. APT is further developed into more specialized tools like . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Linux/LinuxDirectories" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Linux Directories</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>September 9, 2019</em></p>
                <p>The beginning of the Linux file system starts with root (/) . . .</p>
            </div>
        </a>
        <hr class="articleHr"/>
    </nav>
    <br />
</div>
<br />
<br />