@page "/Blog/"
<title>ArticleTemplate</title>

<br />
<br />

<div class="col-md-7 pageFrame">

    <br />

    <hr />
    <h2 style="margin-left:15px;margin-right:15px;" class="articleTitle">Title</h2>

    <!-- <h3>Subtitle</h3> -->

    <p class="generalText"><strong>By Juan Aguilar</strong></p>
    <p class="generalText"><em>December 16, 2019</em></p>
    <hr />

    <br />

    <h4 class="articleTitle"></h4>
    <p class="generalText">

    </p>

    <ul>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
    </ul>

    <a href="https://www.thesitewizard.com/" target="_blank">The Wizard Site</a>

    <img class="articleImage" src="/images/Blog/Linux/LinuxFileSystem/llOutput.png" />
    
    <h4 class="articleTitle">References</h4>
    <p class="citation">

    </p>

    <br>
</div>

<br />
<br />
