@page "/Contact"
<title>Contact</title>

<br>
<div class="pageFrame">
    <br />

    <h2 class="generalTitle">Contact</h2>

    <p class="generalText">If you would like to contact me, feel free to send me a message through any of the social media links below.</p>

    <div class="container-fluid">
        <div>
            <div class="row" style="justify-content: center ">
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.linkedin.com/in/juandaguilar" target="_blank"> <img class="bookImage" src="/images/Contact/linkedinLogo.png" /></a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://twitter.com/HyperViolets" target="_blank"><img class="bookImage" src="/images/Contact/twitterLogo.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>