@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div>
        @Body
    </div>

    <div class="bottom-row">
        <footer class="myFooter">&copy; 2020 JUAN AGUILAR ALL RIGHTS RESERVED</footer>
    </div>
</div>
