@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>

    <div class="bottom-row">
        <footer class="myFooter">&copy; 2019 JUAN AGUILAR ALL RIGHTS RESERVED</footer>
    </div>
</div>
