@inject IJSRuntime JSRuntime;

<div class="top-row pl-4 navbar navbar-dark">
    
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">JAguilarV3</a>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item px-3" @onclick="ToggleBlogMenu">
            <button class="btn myButton">
                <span class="@((collapseBlogMenu ? "oi oi-chevron-top" : "oi oi-chevron-bottom"))" aria-hidden="true"></span>Blog
            </button>
        </li>
        @if(collapseBlogMenu)
        {
            <li class="nav-item px-3 subMenuItem">
                <NavLink class="nav-link" href="/Blog/Linux/LinuxHome/">
                    Linux
                </NavLink>
            </li>
            <li class="nav-item px-3 subMenuItem">
                <NavLink class="nav-link" href="/Blog/Networking/NetworkingHome/">
                    Networking
                </NavLink>
            </li>
            <li class="nav-item px-3 subMenuItem">
                <NavLink class="nav-link" href="/Blog/Hardware/HardwareHome/">
                    Hardware
                </NavLink>
            </li>
            <li class="nav-item px-3 subMenuItem">
                <NavLink class="nav-link" href="/Blog/Coding/CodingHome/">
                    Coding
                </NavLink>
            </li>
        }  
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Contact">
                Contact
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" @onclick="toggleDarkLight">
                <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
            </div>
            <div>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;
    bool collapseBlogMenu = false;
    
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    
    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    void ToggleBlogMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        collapseBlogMenu = !collapseBlogMenu;
    }
    private async Task toggleDarkLight()
    {
        await JSRuntime.InvokeVoidAsync("toggleDarkLight");
    }
}
