@page "/Blog/Hardware/DesktopGamingGraphicsCardBuyingGuide"
<title>Desktop Gaming Graphics Card Buying Guide</title>

<br />

<div class="pageFrame">

    <br />

    <hr />
    <h2 class="articleTitle">Desktop Gaming Graphics Card Buying Guide</h2>

    <p class="generalText"><strong>By Juan Aguilar</strong></p>
    <p class="generalText"><em>January 10, 2019</em></p>
    <hr />

    <br />

    <h4 class="articleTitle">Resolution</h4>
    <p class="generalText">
        For monitors, there are different kinds of resolutions out there. The most common is Full HD (FHD) (1920x1080) (1080p). It's commonly called 1080p. Another resolution is Quad HD (QHD) (2560x1440) (1440p). The latest resolution trying to make a push in the industry is Quad Full HD (QFHD) (3840x2160) (4K).
    </p>
    <p class="generalText">
        Your monitor will also have a refresh rate that it supports. The refresh rate is how often the pixels are refreshed on the screen and it's represented in hertz. A higher refresh rate will make movement look smoother. Common refresh rates found in monitors are 60Hz, 120Hz, 144Hz, and 240Hz. Hertz are equivalent to FPS (frames per second). Meaning, if your monitor supports 60Hz then it can only support 60 FPS in a video game.
    </p>
    <p class="generalText">
        When buying a graphics card for gaming, you need to make sure it supports the resolution and refresh rate. I recommend getting a graphics card that supports at least 1080p and 60Hz. These days everybody should have at least a 1080p monitor. Also, one of the benefits of PC gaming is the higher fps. In my opinion, if you want a quality PC gaming experience then go for at least 60 FPS. The best way to find out whether a graphics card supports the resolution and refresh rate is to look at benchmarks. Luckily, there are a ton of benchmarks out there.
    </p>

    <h4 class="articleTitle">Benchmarks</h4>
    <p class="generalText">
        The best way to know the performance of a graphics card is to look at benchmarks. For gamers, look for benchmarks where the graphics card was tested on video games. The gaming benchmarks will test the graphics card on different resolutions and different quality options. Don't rely on a single benchmark. Go to the other sites to compare similar benchmarks. You will likely see the average and maximum FPS. Always look at the average since it's the consistent performance.
    </p>

    <h4 class="articleTitle">Form Factor</h4>
    <p class="generalText">
        Make sure your graphics card will actually fit in your case. Most graphics cards will come in dual slot. Dual slot means that the graphics card will take up two slots on the case. Be aware that some graphics cards will take up 2.5/2.75 slots. This is due to having bigger cooling systems and fans. The graphics card will also list its width, length, and height. Don't forget to have enough PCIe slots in your motherboard.
    </p>

    <h4 class="articleTitle">Display Connectors</h4>
    <p class="generalText">
        To effectively use a graphics card you have to connect it to a monitor. At the end of the graphics card there will be ports for wires that connect to a monitor. The most common ports you'll find are DVI, HDMI, and DisplayPort. DVI is a legacy port that is replaced by HDMI and DisplayPort. Most people will be familiar with HDMI and it's widely popular. The version of HDMI is also important. HDMI 1.4 supports 144Hz at 1080p, 75Hz at 1440p, and 30Hz at 4K. HDMI 2.0 supports 240Hz at 1080p, 144Hz at 1440p, and 60Hz at 4K. HDMI 2.1 supports 240Hz at 1080p, 240Hz at 1440p, and 144Hz at 4K.
    </p>
    <p class="generalText">
        DisplayPort is meant to replace DVI and HDMI as the best cable to use. DisplayPort is royalty-free so manufacturers don't have to pay any fees for using it. HDMI has licensing fees. DVI has implementation patent fees. Due to the lack of fees, DisplayPort rapidly became popular. DisplayPort 1.2 supports 240Hz at 1080p, 165Hz at 1440p, and 75Hz at 4K. DisplayPort 1.3 supports 240Hz at 1080p, 240Hz at 1440p, and 120Hz at 4K. Make sure your graphics card supports the resolution and refresh rate you need.
    </p>
    <p class="generalText">
        For multiple monitors, check how many monitors your graphics card supports.
    </p>

    <h4 class="articleTitle">Other Stuff To Note</h4>
    <p class="generalText">
        If you want to use multiple graphics cards then look for SLI or CrossFire supported graphics cards.
    </p>
    <p class="generalText">
        If you're looking for reliability, don't buy an overclocked graphics card. Overclocking pushes hardware beyond its limits and has a tendency to fail.
    </p>
    <p class="generalText">
        When you look at specifications you'll see stuff like GDDR5, memory bus width, and so on. A lot of variables go into a graphics card. At the end of the day, the best indication of performance is to actually use them in a real-world scenario. That's where benchmarks come in.
    </p>
    <p class="generalText">
        Try to get the best value for your graphics card. It's advised not to buy the latest and greatest graphics card, because they slightly perform better than their previous iterations. Unless you're looking for the best performance of course.
    </p>

    <br />

    <h4 class="articleTitle">References</h4>
    <p class="citation">
        “Beginner Guide to Buying Video Cards 2017.” <i>YouTube</i>, YouTube, 26 Apr. 2017, youtu.be/oy4dSCEVX0c.
    </p>
    <p class="citation">
        “DisplayPort.” <i>Wikipedia</i>, Wikimedia Foundation, 7 Jan. 2019, en.wikipedia.org/wiki/DisplayPort.
    </p>
    <p class="citation">
        Edmonds, Rich. “1080p Vs. 1440p vs. 4K: Which Resolution Is Best for Gaming?” <i>Windows Central</i>, Central, 6 June 2018, www.windowscentral.com/1080p-vs-1440p-vs-4k-which-should-gamers-go.
    </p>
    <p class="citation">
        Fedorov, Nikita. “DisplayPort vs HDMI vs DVI vs VGA.” <i>AVADirect</i>, 2 June 2015, www.avadirect.com/blog/displayport-vs-hdmi-vs-dvi-vs-vga/.
    </p>
    <p class="citation">
        “HDMI.” <i>Wikipedia</i>, Wikimedia Foundation, 31 Dec. 2018, en.wikipedia.org/wiki/HDMI.
    </p>
    <p class="citation">
        Mueller, Scott. <i>Upgrading and Repairing PCs</i>. Que, 2015.
    </p>
    <p class="citation">
        Reva, Paolo. “DisplayPort vs HDMI vs USB-C vs DVI vs VGA– Which Is Better for Gaming?” <i>MonitorNerds</i>, 3 Apr. 2018, www.monitornerds.com/displayport-vs-hdmi-vs-usb-c-vs-dvi-vs-vga-which-is-better-for-gaming/.
    </p>
    <p class="citation">
        Safford, Matt. “How to Buy the Right Graphics Card.” <i>Tom's Hardware</i>, 9 Nov. 2018, www.tomshardware.com/reviews/gpu-buying-guide,5844.html.
    </p>
    <p class="citation">
        Shafer, Rob. “Which Cable Do I Need For 144Hz?” <i>DisplayNinja</i>, 5 Dec. 2018, www.displayninja.com/which-cable-do-i-need-for-144hz/.
    </p>

    <br>
</div>

<br />
<br />
