@page "/Blog/Hardware/DesktopMonitorBuyingGuide"
<title>Desktop Monitor Buying Guide</title>

<br />

<div class="pageFrame">

    <br />

    <hr />
    <h2 class="articleTitle">Desktop Monitor Buying Guide</h2>

    <p class="generalText"><strong>By Juan Aguilar</strong></p>
    <p class="generalText"><em>January 19, 2019</em></p>
    <hr />

    <br />

    <h4 class="articleTitle">Size and Resolution</h4>
    <p class="generalText">
        Monitors are measured from one corner to another diagonally instead of length or width. Monitors are also measured by their resolution. Resolution is the number of vertical and horizontal pixels. For example, 1080p has 1920 x 1080 pixels. Monitors work best in their native resolution. Running programs outside of the native resolution can lead to scaling issues.
    </p>
    <p class="generalText">
        For the best experience, when you get larger resolutions you should also get a larger display. This is because the operating system has a constant number of pixels for text, icons, etc. For example, icons will look really small if you have a 4K resolution on a 24'' display. You could resize things, but you'll start to run into format issues within programs. It's best to run programs in their default sizes.
    </p>
    <p class="generalText">
        Modern monitors come in widescreen or ultrawide. Widescreen monitors have an aspect ratio of 16:9. Aspect ratio is the ratio between the number of horizontal and vertical pixels. The following general guidelines are for widescreen monitors. Get a 24'' display for a 1080p resolution. Get a 27'' display for a 1440p resolution. 30'' displays should be the minimum for 4K resolutions.
    </p>
    <p class="generalText">
        Ultrawide monitors will have a 21:9 aspect ratio. For a 1080 x 2560 resolution, you should get at least a 29'' monitor. For a 1440 x 3440 resolution, get at least a 34'' display.
    </p>
    <p class="generalText">
        Let's talk about curved monitors. Not all curved monitors are created equal. Curved monitors are designed to be more immersive and are usually worth the extra price. To make the most out of your curved monitor, you have to take the curvature, display size, and sitting position into consideration. The effects of a curved monitor is more prevalent on larger displays. How much of a curvature your monitor has will determine how far away you can sit from it. The specific details are too much for this blog so read this article to learn more: https://www.viewsonic.com/library/entertainment/monitor-curvature-explained
    </p>

    <h4 class="articleTitle">Panel Type and Color Support</h4>
    <p class="generalText">
        Modern monitors use an LCD panel with an LED backlight. As of early 2019, OLED isn't common in monitors so we'll stick to talking about LCDs. The three main types of LCD panels are TN, IPS, and VA. Before we start going in-depth with each, let's get some terminology out of the way.
    </p>
    <ul>
        <li class="bulletPointGeneralText">Response Time: Response time is generally measured on how fast a pixel changes from one shade of grey to another shade of grey. This is called grey-to-grey (gtg). It's measured in milliseconds (ms). Lower response times are better. Too high of a response time will result in ghosting. Ghosting is when trails of a moving object stays on the screen causing smearing/blurring. Try to get a monitor with a 5ms response time or lower.</li>
        <li class="bulletPointGeneralText">Viewing Angles: Viewing angles describe the range of angles where images on the monitor are fully visible. There are horizontal and vertical viewing angles. Viewing a monitor outside of the viewing angle range will cause colors to look wonky. Viewing angles won't matter much if you're one person looking directly at the monitor. If you look at a monitor at a weird angle or have multiple people looking at a single monitor then consider getting a monitor with high viewing angles. A good monitor will have 170° (H) / 160° (V) viewing angles.</li>
        <li class="bulletPointGeneralText">Display Colors: Display colors represent the total number of colors a monitor can display. The most common display colors are 8-bit and 10-bit. With 8-bit you get about 16.7 million colors. With 10-bit you get about 1.07 billion colors. As you can see, you get a lot of more colors with 10-bit. However, 10-bit is more expensive and are designed for graphics designers, photo editors, etc. Casuals and gamers can get away with 8-bit. Display colors are represented in either 16.7 million or 1.07 billion. 8-bit and 10-bit aren't commonly used because bigger numbers are more appealing to customers. Avoid using monitors with 6-bit+FRC, 8-bit+FRC, etc. FRC (Frame Rate Control) tries to mimic higher bit colors by flashing two colors rapidly. It's better to go for a true 8-bit or 10-bit monitor. Most graphics cards support 8-bit by default. If you want to enable 10-bit, go to your graphics card settings and enable 10-bit.</li>
        <li class="bulletPointGeneralText">Color Gamut: Color gamut refers to the range of colors available to be displayed. By far the most common color gamut is sRGB. Most devices use sRGB by default. Monitors are rated by the percentage of a color gamut it can display. For example a monitor can display 99% of the sRGB gamut and 75% of the Adobe RGB gamut. sRGB is the standard and is good enough for typical users and gamers. Make sure your monitor can display more color gamut if you're a graphics designer, photo editor, etc.</li>
        <li class="bulletPointGeneralText">Refresh Rate: Your monitor will also have a refresh rate that it supports. The refresh rate is how often the pixels are refreshed on the screen and it's represented in hertz. A higher refresh rate will make movement look smoother. Common refresh rates found in monitors are 60Hz, 120Hz, 144Hz, and 240Hz. Hertz are equivalent to FPS (frames per second). Meaning, if your monitor supports 60Hz then it can only support 60 FPS in a video game.</li>
    </ul>
    <p class="generalText">
        TN (Twisted Nematic) panels are the cheapest panels out there. They have response times of about 1ms. Due to the low response time they are favored by hardcore gamers. They also have the highest refresh rates. However, they have the worst viewing angles and color support.
    </p>
    <p class="generalText">
        VA (Vertical Alignment) panels cost more than TN panels but less than IPS. VA panels have a response time of about 5ms. Refresh rates are less than TN but more than IPS. They can display more colors than TN, but less than IPS. They have better viewing angles than TN but worse than IPS. VA panels are the middle ground between TN and IPS panels.
    </p>
    <p class="generalText">
        IPS (In-plane Switching) panels have the highest costs. They have response times of about 5ms just like VA panels. Refresh rates can only go up to 144Hz. However, they have the best viewing angles and display colors.
    </p>

    <h4 class="articleTitle">Contrast Ratio</h4>
    <p class="generalText">
        Contrast ratio is the ratio between the darkest black and brightest white. Look for a static contrast ration. Manufacturers will list a dynamic contrast ratio because larger numbers are more appealing to customers. Dynamic contrast ratios can't be trusted because there is no standardized way to test a dynamic contrast ratio. The static contrast ratio better shows the monitor's true contrast ratio. A static contrast ratio will be in the range of 500:1 – 1,500:1. A good monitor will have a 1,000:1 static contrast ratio or better. If you see a contrast ratio of 100,000:1 or 1,000,000:1 then it's a dynamic contrast ratio.
    </p>

    <h4 class="articleTitle">Brightness</h4>
    <p class="generalText">
        The brightness of a monitor is measured in nits or candelas per square meter (cd/m2). One nit is equal to one cd/m2. One cd/m2 is equivalent to one real world candle in light output. Typically, the higher the nits the better. If you're casually browsing the internet then look for 200-250 nits. If you're watching movies or playing video games then look for 300 nits or better.
    </p>

    <h4 class="articleTitle">Display Connectors</h4>
    <p class="generalText">
        At the back of the monitor there would be ports to connect it to a graphics card. The most common ports you'll find are DVI, HDMI, and DisplayPort. DVI is a legacy port that is replaced by HDMI and DisplayPort. Most people will be familiar with HDMI and it's widely popular. The version of HDMI is also important. HDMI 1.4 supports 144Hz at 1080p, 75Hz at 1440p, and 30Hz at 4K. HDMI 2.0 supports 240Hz at 1080p, 144Hz at 1440p, and 60Hz at 4K. HDMI 2.1 supports 240Hz at 1080p, 240Hz at 1440p, and 144Hz at 4K.
    </p>
    <p class="generalText">
        DisplayPort is meant to replace DVI and HDMI as the best cable to use. DisplayPort is royalty-free so manufacturers don't have to pay any fees for using it. HDMI has licensing fees. DVI has implementation patent fees. Due to the lack of fees, DisplayPort rapidly became popular. DisplayPort 1.2 supports 240Hz at 1080p, 165Hz at 1440p, and 75Hz at 4K. DisplayPort 1.3 supports 240Hz at 1080p, 240Hz at 1440p, and 120Hz at 4K. Make sure your monitor and graphics card supports the resolution and refresh rate you need.
    </p>

    <h4 class="articleTitle">Additional Features</h4>
    <ul>
        <li class="bulletPointGeneralText">Built-in Speakers: Check if you want built-in speakers or want to connect your own separate speakers.</li>
        <li class="bulletPointGeneralText">FreeSync and G-Sync: These technologies are designed to reduce input lag and screen tearing in video games. FreeSync only works with AMD graphics cards. G-Sync only works with NVIDIA graphics cards. Unless specified, you can't use FreeSync on NVIDIA cards and vice versa. Make sure your graphics card and monitor can support FreeSync/G-Sync.</li>
        <li class="bulletPointGeneralText">Multi Monitor: Note that each monitor needs their own independent video signal (port) on a graphics card. Make sure your graphics card has enough ports to support your monitors.</li>
        <li class="bulletPointGeneralText">Touchscreen: The option exists but aren't popular.</li>
        <li class="bulletPointGeneralText">Adjustable: Monitors can have the ability to adjust the height, pivot, swivel, and tilt.</li>
        <li class="bulletPointGeneralText">VESA Mount: VESA supported monitors have holes on the back where they can be mounted. The holes are measured in millimeters (mm) from each other. The most common sizes are 75x75mm and 100x100mm.</li>
        <li class="bulletPointGeneralText">USB Ports: Some monitors have USB ports to connect peripherals like a mouse and keyboard.</li>
        <li class="bulletPointGeneralText">Color: The most common color is black and there are other options available.</li>
        <li class="bulletPointGeneralText">Built-in Webcam: You can go for a built-in webcam or buy a separate webcam.</li>
        <li class="bulletPointGeneralText">HRD Support: HRD needs a 10-bit monitor and video games need to support it. So far, HDR isn't fully supported and its implementation so far isn't too good. I don't recommend an HDR supported monitor.</li>
    </ul>

    <br />

    <h4 class="articleTitle">References</h4>
    <p class="citation">
        Bourque, Brad. “How Monitor Makers Are Trying to Fool You.” <i>Digital Trends</i>, 3 Mar. 2016, www.digitaltrends.com/computing/how-monitor-makers-exaggerate-to-sell-more-screens/.
    </p>
    <p class="citation">
        Finch, Gouldian. “Monitor Curvature: All the Info You Need About Curved Monitors!” <i>ViewSonic</i>, 16 Aug. 2018, www.viewsonic.com/library/entertainment/monitor-curvature-explained.
    </p>
    <p class="citation">
        Harding, Scharon. “How to Choose a PC Monitor.” <i>Tom's Hardware</i>, 14 Dec. 2018, www.tomshardware.com/reviews/monitor-buying-guide,5699.html.
    </p>
    <p class="citation">
        Kwass-Mason, Max. “G-Sync vs. FreeSync: Refresh Technologies Vie to up Gaming Experience.” <i>Digital Trends</i>, 29 July 2018, www.digitaltrends.com/computing/nvidia-g-sync-or-amd-freesync-pick-a-side-and-stick-with-it/.
    </p>
    <p class="citation">
        Kyrnin, Mark. “LCD Monitors and Color Gamuts.” <i>Lifewire</i>, 18 Oct. 2018, www.lifewire.com/lcd-monitors-and-color-gamuts-833038.
    </p>
    <p class="citation">
        “Maximum Display Colors and Look-Up Tables: Two Considerations When Choosing a Monitor.” <i>EIZO</i>, 19 Jan. 2019, www.eizo.com/library/basics/maximum_display_colors/.
    </p>
    <p class="citation">
        “Monitor Buying Guide - What You Need to Know.” <i>YouTube</i>, 11 July 2016, youtu.be/pfxS2Z8PAUQ.
    </p>
    <p class="citation">
        Mueller, Scott. <i>Upgrading and Repairing PCs</i>. Que, 2015.
    </p>
    <p class="citation">
        NCIX Tech Tips, director. <i>Curved vs Flat Monitors Ft Samsung S34E790C + LG 34UM95. YouTube</i>, YouTube, 31 Jan. 2015, youtu.be/7ftsw8rnnf8.
    </p>
    <p class="citation">
        Shafer, Rob. “What Does Monitor Response Time Mean?” <i>DisplayNinja</i>, 5 Dec. 2018, www.displayninja.com/what-does-monitor-response-time-mean/.
    </p>
    <p class="citation">
        Stubbers, Jeff. “An Introduction to Understanding 8-Bit vs. 10-Bit Hardware.” <i>Puget Systems</i>, 17 July 2017, www.pugetsystems.com/labs/articles/An-Introduction-to-Understanding-8-bit-vs-10-bit-Hardware-987/.
    </p>
    <p class="citation">
        Techquickie, director. <i>Why Do Monitors Display Colors Differently? YouTube</i>, YouTube, 19 July 2016, youtu.be/MTn3Gr7m0cg.
    </p>
    <p class="citation">
        The Tech Chap, director. <i>HDR Monitor Guide for PC Gaming - Worth Buying? | The Tech Chap. YouTube</i>, YouTube, 9 Sept. 2017, youtu.be/4KjIPAJXxNM.
    </p>
    <p class="citation">
        Thompson, Sora. “LCD v. LED v. OLED: Understanding Different Display Panel Types.” <i>Tom's Hardware</i>, 26 Aug. 2018, www.tomshardware.com/reviews/lcd-led-led-oled-panel-difference,5394.html.
    </p>
    <p class="citation">
        “USB Ports on Monitors.” <i>LG</i>, www.lg.com/uk/support/solutions/tv/USB-ports-on-monitors.
    </p>

    <br>
</div>

<br />
<br />
