@page "/Blog/Hardware/DesktopMotherboardBuyingGuide"
<title>Desktop Motherboard Buying Guide</title>

<br />

<div class="pageFrame">

    <br />

    <hr />
    <h2 class="articleTitle">Desktop Motherboard Buying Guide</h2>

    <p class="generalText"><strong>By Juan Aguilar</strong></p>
    <p class="generalText"><em>Updated: September 15, 2019</em></p>
    <hr />

    <br />

    <h4 class="articleTitle">Motherboard Chipset</h4>
    <p class="generalText">
        The motherboard chipset dictates compatibility with other PC components. It determines the support for PC parts such as the CPU, RAM, and etc. The following sections explain what to look for in a chipset and motherboard. One example is chipsets for AMD Ryzen. Below is a picture of different chipsets and which series of Ryzen that they're compatible with. 
    </p>
    <img class="articleImage" src="/images/Blog/Hardware/DesktopMotherboardBuyingGuide/Zen2MoboSupport.jpg" />
    <p class="generalText">
        As of right now, X570 is the best chipset with the most features. As you go down the list, chipsets become cheaper and have less features. 
    </p>

    <h4 class="articleTitle">Processor Socket</h4>
    <p class="generalText">
        The socket on the motherboard is used to house a processor. Processors are designed to fit in a certain socket. The latest AMD processors use an AM4 socket. The latest Intel processors use an LGA 1151v2 socket. AMD processors use pins to slot into a socket. One bent pin can ruin the CPU so be careful when inserting. Intel processors have pads instead of pins. You can easily slot them into place and don't have to worry about bent pins. Usually, people choose a CPU they want then find a motherboard with the right socket.
    </p>
    <div class="row" >
        <div class="col-xl">
            <img src="/images/Blog/Hardware/DesktopMotherboardBuyingGuide/AM4Socket.jpg" style="width:100%">
        </div>
        <div class="col-xl">
            <img src="/images/Blog/Hardware/DesktopMotherboardBuyingGuide/LGA1151Socket.jpg" style="width:100%">
        </div>
    </div> 

    <br>

    <h4 class="articleTitle">Memory</h4>
    <p class="generalText">
        Your type of motherboard will dictate the type of RAM you can use. One of the most important aspects to look for is whether it supports DDR3 or DDR4 memory. Another thing to look for is single-, dual-, triple-, or quad-channel support. Also, look into the supported RAM speeds and maximum amount of RAM supported. For a more in depth explanation to RAM, look at my <a href="/Blog/Hardware/DesktopRAMBuyingGuide" target="_blank">RAM article</a>.
    </p>

    <h4 class="articleTitle">Form Factor</h4>
    <p class="generalText">
        Modern form factors include ATX, microATX, FlexATX, DTX, Mini-DTX, ITX, and Mini-ITX. For desktops, the de facto standard is ATX. ATX has a maximum size of 12in x 9.6in. This form factor will have plenty of ports and slots for a typical user's needs.
    </p>
    <p class="generalText">
        Another common form factor for desktops is microATX. It's maximum size in 9.6in x 9.6in. microATX is used for smaller and cheaper PC builds. The microATX form factor is backward compatible with ATX so it can fit in any ATX case. Since it's a smaller size, microATX is usually limited to one PCIe slot for a graphics card and two DIMM slots for RAM.
    </p>
    <p class="generalText">
        FlexATX is the smallest form factor out of the ATX family. It has a maximum size of 9in x 7.5in. It's also backward compatible with ATX. As usual, a smaller size will mean less features and less room to plug-in PC components.
    </p>
    <p class="generalText">
        DTX and Mini-DTX were released by AMD to be smaller variations of microATX and FlexATX. DTX's max size is 8in x 9.6in. The max size for Mini-DTX is 8in x 6.7in. Since they weren't too much smaller than FlexATX, development stopped and they were eventually replaced by Mini-ITX. VIA Technologies wanted to take the FlexATX form factor and make it as small as possible. During that process, ITX and Mini-ITX were created. ITX has a maximum size of 8.5in x 7.5in. Mini-ITX has a max size of 6.7in x 6.7in. Since these form factors are really small, they aren't used in typical desktop builds.
    </p>
    <p class="generalText">
        Mini-ATX is another form factor that is slightly smaller than ATX. It's max size is 11.2in x 8.2in. Be aware that Mini-ATX is not an official standard. It has been replaced by microATX. Another non-official standard is extendedATX. It's slightly larger than ATX with a max size of 12in x 13in.
    </p>
    <p class="generalText">
        I recommend going for an ATX form factor. If you're on a budget build and don't need the extra features/ports then go for microATX. Then make sure you get a case that fits your form factor or fits in your current case. For form factors there is a maximum size but the actual size of the motherboard doesn't have to be the maximum size. It's fine if the motherboard is slightly smaller and it will still fit in the case. Unless you get a non-standard form factor like Mini-ATX or extenededATX. Getting non-standard form factors isn't recommended because the mounting holes don't always align.
    </p>

    <h4 class="articleTitle">PCIe Slots</h4>
    <p class="generalText">
        PCIe (Peripheral Component Interconnect Express) is a way for devices to connect to the motherboard. PCIe comes in version 1, 2, and 3. Version 4 is being slowly rolled out, but don't expect it to be common just yet. Each version is backward compatible with each other. Meaning that you can plug a PCIe version 2 card into a PCIe version 3 slot. Each new version doubles the bandwidth of previous versions. At version 1, each PCIe lane runs at a maximum of 250 MB/s. Version 2 runs at 500 MB/s and version 3 at 984.6 MB/s for each lane. Version 4 will have a maximum speed of 1969 MB/s for each lane. A lane is a full duplex byte stream. Meaning that each lane has one receiving and one transmitting signal. Lanes are expressed in x1, x4, x8, x16, or x32. A PCIe with x16 will have sixteen lanes and so on for the rest of them.
    </p>
    <p class="generalText">
        When looking at PCIe slots make sure you have enough for your needs. Slots for devices such as the graphics card, RAID card, PCIe SSD, video capture card, sound card, M.2 slot and so on. Also, check the version and bandwidth (x1, x4...). Modern graphics cards need PCIe version 3 at a x16 bandwidth. The form factor of the motherboard will dictate how many PCIe slots are available.
    </p>
    <p class="generalText">
        One thing people don't fully understand is how many PCIe lanes you need on your CPU. Actually, your motherboard chipset and CPU both have PCIe lanes. The CPU supports more bandwidth up to x16. These lanes are usually reserved for the graphics card. The chipset has lower bandwidth PCIe lanes for less demanding devices. Some people like to get a CPU with more PCIe lanes because CPU lanes have more bandwidth.
    </p>
    <p class="generalText">
        Be aware that using one PCIe slot may disable other PCIe slots or SATA ports. Motherboard designers put more connectors for devices than there are PCIe ports to support them all. That's why motherboards have switches to disable certain ports if lanes for that device are being used by another device. This differs from motherboard to motherboard. To make sure, look at the motherboard datasheet or manual.
    </p>

    <h4 class="articleTitle">Other Interfaces and Features</h4>
    <p class="generalText">
        Here is a quick list of additional features for a motherboard:
    </p>
    <ul>
        <li class="bulletPointGeneralText">Get at least four SATA 6 Gb/s (SATA III) ports</li>
        <li class="bulletPointGeneralText">RAID and the type of RAID support</li>
        <li class="bulletPointGeneralText">M.2 slots</li>
        <li class="bulletPointGeneralText">LAN (ethernet port) that supports at least 1 Gb/s (1000 Mb/s)</li>
        <li class="bulletPointGeneralText">PS/2 connectors for older mouse and keyboards</li>
        <li class="bulletPointGeneralText">Built-in Wi-Fi</li>
        <li class="bulletPointGeneralText">Thunderbolt 3</li>
        <li class="bulletPointGeneralText">USB Type-C (can use any pervious USB standard)</li>
        <li class="bulletPointGeneralText">DisplayPort/HDMI/VGA for integrated graphics (integrated graphics use the display port on the motherboard)</li>
        <li class="bulletPointGeneralText">Audio ports (Analog or Digital)<ul><li>Analog connectors: 3.5mm jack (like headphone jack)</li><li>Digital connectors: coaxial or optical</li></ul></li>
        <li class="bulletPointGeneralText">Overclocking support</li>
        <li class="bulletPointGeneralText">Operating Systems supported</li>
        <li class="bulletPointGeneralText">Virtualization support</li>
        <li class="bulletPointGeneralText">Virtual Reality support</li>
        <li class="bulletPointGeneralText">UEFI BIOS (UEFI offers more features than the legacy BIOS)</li>
        <li class="bulletPointGeneralText">BIOS Flash Button (flash your motherboard with a USB stick)</li>
        <li class="bulletPointGeneralText">Bluetooth</li>
        <li class="bulletPointGeneralText">NVIDIA SLI or AMD CrossFireX support</li>
    </ul>
    <p class="generalText">
        Another important thing to look into is the type of USB your motherboard has. This isn't quite easy because USB has a new naming scheme and some motherboards will still reference the old naming scheme. To make things easier I've created a table to help ease the confusion. For now, USB4 isn't fully released. Also, USB Type-C can use any of these standards.
    </p>
    <img class="articleImage" src="/images/Blog/Hardware/DesktopMotherboardBuyingGuide/USBGenerations.png" />
    <p class="generalText">
        One last thing for the interface is front panel connectors and pins. The connectors on the front of the case will plug into the motherboard. These pins and connectors can be confusing so the best thing to do is to look at your motherboard manual. The manual will specifically tell you where to plug the front panel connectors. If not plugged in correctly, it can cause damage to your PC. If you need some visual aid, here is a good video: <a href="https://www.youtube.com/watch?v=aE2y30bIejE&feature=youtu.be" target="_blank">How to connect front panel connectors to the motherboard</a>.
    </p>
    <p class="generalText">
        High-end motherboards for the Ryzen 3000 series will have a proprietary fan on them. This fan is used to keep the motherboard from overheating. This fan used to be on older motherboards and has recently returned. A word of caution: these fans historically failed the most. Occasionaly make sure this fan still works. If it does break, you can try to get a new fan, motherboard replacement, or simply stick a space case fan over it. 
    </p>

    <h4 class="articleTitle">Documentation and Technical Support</h4>
    <p class="generalText">
        Here is a quick rundown on what to look for in terms of documentation and technical support:
    </p>
    <ul>
        <li class="bulletPointGeneralText">Easily download documentation from manufacturer's website</li>
        <li class="bulletPointGeneralText">Easily download drivers</li>
        <li class="bulletPointGeneralText">BIOS updates</li>
        <li class="bulletPointGeneralText">FAQ page</li>
        <li class="bulletPointGeneralText">Table/List of compatible CPU and RAM</li>
        <li class="bulletPointGeneralText">Utility programs</li>
        <li class="bulletPointGeneralText">Email and phone support</li>
        <li class="bulletPointGeneralText">Warranty support</li>
    </ul>

    <br />

    <h4 class="articleTitle">References</h4>
    <p class="citation">
        A., George, and Dan. “SOLVED: A Question about PCIe Lanes and How They Are Divided - Motherboard and CPU.” <i>IFixit</i>, 4 Jan. 2018, www.ifixit.com/Answers/View/452007/A+question+about+PCIe+lanes+and+how+they+are+divided.
    </p>
    <p class="citation">
        Conroy, Sean. “Picking a Motherboard and Processor to Use with Virtualization.” <i>I Don't Know, Read The Manual</i>, 24 Feb. 2018, www.idkrtm.com/picking-a-motherboard-and-processor-to-use-with-virtualization/.
    </p>
    <p class="citation">
        Epstein, Mike. “Don't Get Fooled by 'USB 3.2' Marketing Later This Year.” <i>Lifehacker</i>, 4 Mar. 2019, 9:30 am, lifehacker.com/dont-get-fooled-by-usb-3-2-marketing-later-this-year-1832988368.
    </p>
    <p class="citation">
        Harding, Scharon. “What Is PCIe? A Basic Definition.” <i>Tom's Hardware</i>, 23 Aug. 2018, 10:58 AM, www.tomshardware.com/reviews/pcie-definition,5754.html.
    </p>
    <p class="citation">
        Hoffman, Chris. “USB Type-C Explained: What Is USB-C and Why You'll Want It.” <i>How-To Geek</i>, 8 June 2018, 2:20 PM EDT, www.howtogeek.com/211843/usb-type-c-explained-what-it-is-and-why-youll-want-it/.
    </p>
    <p class="citation">
        “How to Connect Front Panel Connectors to the Motherboard.” <i>YouTube</i>, 2 Nov. 2012, youtu.be/aE2y30bIejE.
    </p>
    <p class="citation">
        “M.2 - Does It Take up CPU PCIe Lanes or Not? CPU Lanes Vs Chipset Lanes.” <i>YouTube</i>, 27 June 2017, youtu.be/ZI4vWSm6S-4.
    </p>
    <p class="citation">
        Mueller, Scott. <i>Upgrading and Repairing PCs</i>. Que, 2015.
    </p>
    <p class="citation">
        “PCI Express.” <i>Wikipedia</i>, Wikimedia Foundation, 17 Mar. 2019, en.wikipedia.org/wiki/PCI_Express#Lane.
    </p>
    <p class="citation">
        “PCIe Lanes - PCIe 8x vs 16x in SLI.” <i>YouTube</i>, 6 Oct. 2014, youtu.be/rctaLgK5stA.
    </p>
    <p class="citation">
        Safford, Matt. “How to Choose a Motherboard: A Guide for 2019.” <i>Tom's Hardware</i>, 28 Feb. 2019, 9:07 AM, www.tomshardware.com/reviews/motherboard-buying-guide,5682.html.
    </p>
    <p class="citation">
        TehPenguin, and MarkW. “PCIe Lanes, Why You so Mysterious? How Many Do I Need?” <i>Tom's Hardware Forum</i>, 20 June 2016, forums.tomshardware.com/threads/pcie-lanes-why-you-so-mysterious-how-many-do-i-need.2720049/.
    </p>
    <p class="citation">
        Torres, Gabriel. “How On-Board Audio Works.” <i>Hardware Secrets</i>, 2 Feb. 2008, www.hardwaresecrets.com/how-on-board-audio-works/.
    </p>
    <p class="citation">
        “What Is a Chipset as Fast As Possible.” <i>YouTube</i>, 4 Nov. 2014, youtu.be/8gfA3H5XTAE.
    </p>

    <br>
</div>

<br />
<br />
