@page "/Blog/Hardware/EthernetPatchPanel"
<title>Ethernet Patch Panel</title>

<br />

<div class="pageFrame">

    <br />

    <hr />
    <h2 class="articleTitle">Ethernet Patch Panel</h2>

    <p class="generalText"><strong>By Juan Aguilar</strong></p>
    <p class="generalText"><em>July 5, 2019</em></p>
    <hr />

    <br />

    <img class="articleImage" src="/images/Blog/Hardware/EthernetPatchPanel/patchpanel.png" />
    <p class="generalText">
        A patch panel is used to manage network cables in a building. They are an array of Ethernet ports on a panel. All Ethernet cables in a building are connected to the patch panel in a server room. The other end of the Ethernet cable is terminated on a wall plate with a keystone.
    </p>
    <p class="generalText">
        In homes or small organizations, a patch panel isn’t necessarily required. You can just run the Ethernet cables directly into a switch. The switch can then be connected to an ISP or other network device. 
    </p>
    <p class="generalText">
        Once you have to manage multiple Ethernet cables, a patch panel becomes very useful. All your cables run into a central place ready to be managed. Without a patch panel all your unused cables will be dangling there or using up space on a switch. It’s also easier to reconfigure networks. 
    </p>
    <p class="generalText">
        Patch panels work best when they’re labeled correctly. Each Ethernet port on a patch panel will be numbered. Take a labeler, like P-Touch, to label wall plates to its corresponding port on the patch panel. Then you document this in a diagram/documentation. This avoids situations where you don’t know what is plugged into what and you have to manually test each port to see where everything is. 
    </p>
    <p class="generalText">
        It’s recommended to place your patch panels and switches near the top of a server rack. This way heavier equipment is reserved for the bottom portion of the rack. You don’t want the rack to become top heavy and risk tipping over. 
    </p>

    <h4 class="articleTitle">Types of Patch Panels</h4>
    <p class="generalText">
        There are different types of patch panels out there. Most notably there are Punch Down, Feed-Through, and Keystone patch panels. With Punch Down patch panels, you take the individual wires on an Ethernet cable and punch them down to the patch panel. You can use the T568A or T568B wire schemes when punching down. A Feed-Through patch panel will have Ethernet ports on both sides of the patch panel. You simply plug the end of an Ethernet cables into the Ethernet slot (assuming it has an Ethernet male connector). There is no need to punch down anything. Lastly, there is a Keystone patch panel. Instead of punching down to the patch panel, you punch down to a keystone or slot into a keystone. The advantage is you’re not restricted to only using Ethernet keystones. You can have coaxial, HDMI, and Ethernet keystones in the same patch panel. You choose the type of keystones used on the patch panel.
    </p>
    <img class="articleImage" src="/images/Blog/Hardware/EthernetPatchPanel/keystone.jpg" />
    <img class="articleImage" src="/images/Blog/Hardware/EthernetPatchPanel/feedthrough.png" />
    <img class="articleImage" src="/images/Blog/Hardware/EthernetPatchPanel/PunchDown.png" />
    <p class="generalText">
        Another option is getting the number of ports you need. In general, the most common number of ports is 24 or 48. You can get higher counts of ports like a 96 port patch panel. It all depends on how many Ethernet cables you have in the building.
    </p>
    <p class="generalText">
        Each patch panel is designed for a specific Ethernet standard like CAT5e or CAT6. If you’re using CAT6 then get CAT6 patch panels. CAT standards are also backward compatible. You can use a CAT5e cable on a CAT6 patch panel. Also, check if you’re using shielded or unshielded Ethernet cables and get shielded or unshielded patch panels.
    </p>
    <img class="articleImage" src="/images/Blog/Hardware/EthernetPatchPanel/angledPatchPanel.png" />
    <p class="generalText">
        Additionally, you can choose to have a flat or angled patch panel. Flat is the most common. Angled patch panels have a bit better port density, but there is no clear reason to choose angled over flat. It all depends on preference.
    </p>

    <h4 class="articleTitle">Tools</h4>
    <p class="generalText">
        To punch down wires you will need a punch down tool. You can get a very basic punch down tool that gets the job done. Get a tool that is rated for 110 blocks since 110 is for twisted pair (Ethernet). The tool will have an adjustable impact setting. Set this to low since many patch panels are rated for low impact. There are also battery powered punch down tools. They work the same except that they are battery powered.
    </p>
    <img class="articleImage" src="/images/Blog/Hardware/EthernetPatchPanel/punchDownTool.png" />
    <p class="generalText">
        To remove wires from a keystone or patch panel you can use a spudger or needle-nose pliers. Lift the wires straight up from the grooves. You can also get a network cable tester to check if you punch downed the wires correctly. Check online for tutorials on how to punch down. 
    </p>

    <h4 class="articleTitle">References</h4>
    <p class="citation">
        Budget Nerd. “What Is a Patch Panel? Do You Need One?” <em>YouTube</em>, 28 Apr. 2017, youtu.be/lg2oGE02DJE.
    </p>
    <p class="citation">
        FS. “How to Terminate and Install Cat5e, Cat6 Keystone Jacks?” <em>FS</em>, 6 Oct. 2013, www.fs.com/how-to-terminate-and-install-cat5e-cat6-keystone-jacks-aid-214.html.
    </p>
    <p class="citation">
        FS. “How to Select Copper Patch Panel? Know Patch Panel Sizes/Types.” <em>FS Blog</em>, 26 Oct. 2016, community.fs.com/blog/how-to-select-the-suitable-copper-patch-panel.html.
    </p>
    <p class="citation">
        FS. “Should We Choose Punch Down or Feedthrough Patch Panel?” <em>FS Blog</em>, 1 Mar. 2017, community.fs.com/blog/should-we-choose-punch-down-or-feed-through-patch-panel.html.
    </p>
    <p class="citation">
        “Punch down Tool.” <em>Wikipedia</em>, Wikimedia Foundation, 1 Feb. 2019, en.m.wikipedia.org/wiki/Punch_down_tool.
    </p>
    <p class="citation">
        slimjimany. “How to Use Punch down Tool with Cat 5 Punch Panels.” <em>YouTube</em>, 17 June 2012, youtu.be/T40Z1W6kmmw.
    </p>
    <p class="citation">
        SteveFL. “Patch Panel Placement Preferences.” <em>The Spiceworks Community</em>, 31 Mar. 2014, community.spiceworks.com/topic/466690-patch-panel-placement-preferences.
    </p>
    <p class="citation">
        Wang, Chloe. “Network Patch Panel Wiki: What's It? Why Use It? How to Buy It?” <em>Fiber Transceiver Solution</em>, 11 Sept. 2018, www.fiber-optic-transceiver-module.com/network-patch-panel-wiki-why-use-it-how-to-buy-it.html.
    </p>
    <p class="citation">
        “What Is a Patch Panel and What Is Its Purpose?” <em>FireFold</em>, 5 July 2019, www.firefold.com/blogs/news/what-is-a-patch-panel-and-what-is-its-purpose.
    </p>

    <br>
</div>

<br />
<br />
