@page "/Blog/Hardware/HardwareHome"
<title>Hardware Articles</title>

<br />
<br />
<div class="pageFrame">
    <br />
    <h2 class="articleHomeHeaderTitle">Hardware Articles</h2>
    <nav>
        <hr class="articleHr"/>
        <a href="/Blog/Hardware/DesktopInternalHardDriveBuyingGuide">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Desktop Internal Hard Drive Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>October 18, 2018</em></p>
                <p>If you want to quickly buy a hard drive and don't really care about technicalities then . . . </p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/DesktopInternalSSDBuyingGuide">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Desktop Internal SSD Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>Updated: September 27, 2019</em></p>
                <p>Here is a quick list of my recommendations to look for in an SSD. If you want for info on . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/DesktopRAMBuyingGuide">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Desktop RAM Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>December 28, 2018</em></p>
                <p>For desktops, the type of RAM you want is double data rate or DDR. Over the years, there have . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/DesktopPowerSupplyBuyingGuide">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Desktop Power Supply Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>January 6, 2019</em></p>
                <p>Always spend the extra money to buy a good power supply. The power supply connects to every component in the PC. It is also the most likely component to fail. Once it . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/DesktopGamingGraphicsCardBuyingGuide">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Desktop Gaming Graphics Card Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>January 10, 2019</em></p>
                <p>For monitors, there are different kinds of resolutions out there. The most common is Full HD (FHD) (1920x1080) (1080p). It's commonly called . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/DesktopMonitorBuyingGuide">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Desktop Monitor Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>January 19, 2019</em></p>
                <p>Monitors are measured from one corner to another diagonally instead of length or width. Monitors are also measured by their resolution. Resolution is the number of vertical and horizontal pixels. For example, 1080p has 1920 x 1080 pixels . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/DesktopProcessorBuyingGuide">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Desktop Processor Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>Updated: September 15, 2019</em></p>
                <p>These days CPUs are being more reliant on efficiency rather than speed. One way to be more efficient is to use multiple cores. Multicore technology is when . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/DesktopMotherboardBuyingGuide">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Desktop Motherboard Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>Updated: September 15, 2019</em></p>
                <p>The motherboard chipset dictates the compatibility with other PC components. It determines the support for PC parts such as the CPU . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/ServerRack">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Server Rack Overview</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>June 29, 2019</em></p>
                <p>A server rack is a piece of equipment designed to hold and organize IT equipment. They’re used in server rooms or . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/EthernetPatchPanel">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Ethernet Patch Panels</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>July 5, 2019</em></p>
                <p>A patch panel is used to manage network cables in a building. They are an array of Ethernet ports on a panel. All Ethernet cables in a building are . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/NetworkSwitchOverview">
            <div class="articleBox">
                <h3 class="articleHomeTitle">Network Switch Overview</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>August 11, 2019</em></p>
                <p>A network switch is used to connect multiple devices together to form a network. Commonly, they are composed of multiple Ethernet ports. Switches are the successor to the now obsolete . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/Hardware/RAIDLevels">
            <div class="articleBox">
                <h3 class="articleHomeTitle">RAID Levels</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>August 16, 2019</em></p>
                <p>RAID stands for Redundant Array of Independent Disks or Redundant Array of Inexpensive Disks. As the name suggests, RAID provides redundancy for . . .</p>
            </div>
        </a>
        <hr class="articleHr"/>
    </nav>
    <br />
</div>
<br />
<br />

